@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


    <div class="top">
        <h1>Spotify Song Search</h1>
        <form>
            <input type="search" placeholder="Search for a album or band" id="song">
            <button type="submit" id="search">Search</button>
        </form>
    </div>
    <div id="music">
    </div>
